<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="cadastronovocliente" appConnect="local" components="{dmxValidator:{}}" -->
<dmx-value id="visibilidadeForm" dmx-bind:value="0"></dmx-value>
<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-md-4 bg-sidebar"></div>
        <div class="col-md-8 align-self-center p-3">
            <div class="row align-items-center justify-content-center">
                <div class="col-9">
                    <form method="post" dmx-on:error="notifies1.danger(lastError.status+lastError.message+lastError.response);cadastroUsuario.reset()" dmx-on:success="cadastroUsuario.reset();visibilidadeForm.setValue(1)" id="cadastroUsuario" is="dmx-serverconnect-form" action="/api/usuario/signup">
                        <div class="row" dmx-show="visibilidadeForm.value==0">
                            <div class="col">
                                <h5 class="mb-3">
                                    Dados do usuário</h5>

                                <div class="form-group mb-3"> <label for="nomeUsuario" class="form-label">Nome completo</label>
                                    <input type="text" class="form-control" id="nomeUsuario" name="nomeUsuario" aria-describedby="input1_help" placeholder="Nome completo" required="" data-msg-required="Este é um campo obrigatório!">
                                </div>
                                <div class="form-group mb-3"> <label for="emailUsuario" class="form-label">E-mail</label>
                                    <input type="email" class="form-control" id="emailUsuario" name="emailUsuario" aria-describedby="input1_help" placeholder="E-mail para login e informações" required="" data-msg-required="Este é um campo obrigatório!" data-rule-email="" data-msg-email="Insira um e-mail válido!">
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group mb-3"> <label for="senhaUsuario" class="form-label">Senha</label>
                                            <input type="password" class="form-control" id="senhaUsuario" name="senhaUsuario" aria-describedby="input1_help" placeholder="Insira sua senha" required="" data-msg-required="Este é um campo obrigatório!">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3"> <label for="confirmarSenhaUsuario" class="form-label">Confirmar senha</label>
                                            <input type="password" class="form-control" id="confirmarSenhaUsuario" name="confirmarSenhaUsuario" aria-describedby="input1_help" placeholder="Insira novamente sua senha" required="" data-msg-required="Este é um campo obrigatório!" data-rule-equalto="senhaUsuario" data-msg-equalto="As senhas não conferem!">
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group mb-3 text-end"> <button id="btn1" class="btn btn-primary" type="submit">Prosseguir</button>
                                </div>

                            </div>
                        </div>
                        <div class="row" dmx-show="visibilidadeForm.value==1">
                            <div class="col">
                                <h5 class="mb-3">Dados da empresa</h5>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group mb-3"> <label for="nomeUsuario1" class="form-label">Razão social</label>
                                            <input type="text" class="form-control" id="nomeUsuario1" name="nomeUsuario" aria-describedby="input1_help" placeholder="Nome completo" required="" data-msg-required="Este é um campo obrigatório!">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3"> <label for="emailUsuario1" class="form-label">Nome fantasia</label>
                                            <input type="email" class="form-control" id="emailUsuario1" name="emailUsuario" aria-describedby="input1_help" placeholder="E-mail para login e informações" required="" data-msg-required="Este é um campo obrigatório!" data-rule-email="" data-msg-email="Insira um e-mail válido!">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        <div class="form-group mb-3"> <label for="confirmarSenhaUsuario1" class="form-label">Nome do polo</label>
                                            <input class="form-control" id="confirmarSenhaUsuario1" name="confirmarSenhaUsuario" aria-describedby="input1_help" placeholder="Insira novamente sua senha" required="" data-msg-required="Este é um campo obrigatório!" data-rule-equalto="senhaUsuario" data-msg-equalto="As senhas não conferem!">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3"> <label for="senhaUsuario1" class="form-label">CNPJ</label>
                                            <input class="form-control" id="senhaUsuario1" name="senhaUsuario" aria-describedby="input1_help" placeholder="Insira sua senha" required="" data-msg-required="Este é um campo obrigatório!">
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col">
                                        <div class="form-group mb-3"> <label for="confirmarSenhaUsuario2" class="form-label">Endereço com número</label>
                                            <input class="form-control" id="confirmarSenhaUsuario2" name="confirmarSenhaUsuario" aria-describedby="input1_help" placeholder="Insira novamente sua senha" required="" data-msg-required="Este é um campo obrigatório!" data-rule-equalto="senhaUsuario" data-msg-equalto="As senhas não conferem!">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3"> <label for="confirmarSenhaUsuario3" class="form-label">CEP</label>
                                            <input class="form-control" id="confirmarSenhaUsuario3" name="confirmarSenhaUsuario" aria-describedby="input1_help" placeholder="Insira novamente sua senha" required="" data-msg-required="Este é um campo obrigatório!" data-rule-equalto="senhaUsuario" data-msg-equalto="As senhas não conferem!">
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group mb-3 text-end"> <button id="btn2" class="btn btn-primary" type="submit">Prosseguir</button>
                                </div>

                            </div>
                        </div>

                        <div class="row" dmx-show="visibilidadeForm.value==2">
                            <div class="col">
                                <h3 class="mb-3">Sua conta foi criada!</h3>
                                <p>Agora você tem acesso a todas as ferramentas necessárias para organizar e otimizar suas operações.</p>
                                <p>O que fazer agora?
                                <p>✅ Acesse seu painel administrativo e explore os recursos disponíveis.</p>
                                <p>✅ Complete as informações do seu polo/unidade para personalizar sua experiência.</p>
                                <p>✅ Convide sua equipe para começar a utilizar o sistema juntos.</p>
                                <p>Se precisar de ajuda, nosso suporte está disponível para garantir que você tenha a melhor experiência.</p>
                                <p>📩 Dúvidas? Entre em contato com nosso suporte: suporte@spacefeed.app</p>
                                </p>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" integrity="sha512-0XDfGxFliYJPFrideYOoxdgNIvrwGTLnmK20xZbCAvPfLGQMzHUsaqZK8ZoH+luXGRxTrS46+Aq400nCnAT0/w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $('#cepPolo').mask('00000-000');
    $('#cnpjEmpresa').mask('00.000.000/0000-00', {reverse: true});
    $('#celularPolo').mask('(00) 0 0000-0000');
    $('#telefonePolo').mask('(00) 0000-0000');
</script>
<meta name="ac:route" content="/cadastro-novo-cliente">