<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="backoffice" appConnect="local" -->
<div class="container-fluid vh-100 bg-dark">
    <div class="row py-3 bg-black align-items-center">
        <div class="col">
            <img src="/assets/images/appIcon.ico" class="img-fluid" width="80">
        </div>
        <div class="col"></div>
        <div class="col text-end">
            <button id="btn1" class="btn btn-success">Deslogar</button>
        </div>
    </div>
    <div class="row py-4">
        <div class=" text-start">


        </div>
        <div class="col-md-2">
            <h6 class="text-light">Fancy display heading</h6>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col">
                    <form id="cadastroinicialForm">

                        <div class="row gx-3">
                            <div class="col">
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="nomeUsuario" name="nomeUsuario" aria-describedby="input1_help" placeholder="Nome de usuario">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="emailUsuario" name="senhaUsuario" aria-describedby="input1_help" placeholder="E-mail do usuario">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="senhaUsuario" name="senhaUsuario" aria-describedby="input1_help" placeholder="Senha do usuario">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="input2" name="input1" aria-describedby="input1_help" placeholder="Enter some text">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="input3" name="input1" aria-describedby="input1_help" placeholder="Enter some text">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<meta name="ac:route" content="/m/b/backoffice">