<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="backoffice" appConnect="local" -->
<div class="container-fluid vh-100 bg-dark">
    <div class="row py-3 bg-black align-items-center">
        <div class="col">
            <img src="/assets/images/appIcon.ico" class="img-fluid" width="80">
        </div>
        <div class="col"></div>
        <div class="col text-end">
            <button id="btn1" class="btn btn-success">Deslogar</button>
        </div>
    </div>
    <div class="row py-4">
        <div class=" text-start">


        </div>
        <div class="col-md-2">
            <button id="btn2" class="btn btn-outline-secondary mb-3">Cadastros</button>
            <button id="btn3" class="btn btn-outline-secondary mb-3">Financeiro</button>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col">
                    <form id="form1"></form>
                </div>
            </div>
        </div>
    </div>

</div>
<meta name="ac:route" content="/m/b/backoffice">